

<% @messages.each do |message| %>
<h1><%= message.title %></h1>
<h3><%= message.description %></h3>
<%= link_to "View Message", message_path(message), class: "btn btn-def" %>
<% end %>
</br>
<%= link_to "Create Topic", new_message_path, class: "btn btn-lrg" %>