<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <h1><%= image_tag('sfmed.png', :alt => 'x') %></h1>

    <h2> Welcome to the home of Stone Flame Media. We have been producing content for the web for over 2 years now. We produce a weekly podcast, and that's about all we have time for these days. We discuss a plethra of topics on the podcast. Including, but not limited to, nerd culture, anime, TV shows, movies, dreams, and our personal lives. If you would like to submit something for us to talk about, I have created a "Topic Bucket" for anyone to do so. Thank you for visiting, and happy listening!</h2>
  </body>
</html>