@import "bootstrap-sprockets";
@import "bootstrap";


/* header */


div.container-fluid {
  background: black;
}

nav {
  font-size: 2em;
  padding-top: 20px;
}

div.twitter {
  float: right;
  padding-top: 8px;
  padding-right: 40px;
 }


/* body */

body {
  background-color: white;
  border: 50px solid black;
}

h1 {
	padding-top: 50px;
  text-align: center;
  margin-right: 75px;
  margin-left: 75px;
  background-color: white;

}
h2 {
  font-size: 1.5em;
  padding-top: 20px;
  padding-right: 100px;
  padding-bottom: 20px;
  padding-left: 100px;
  margin-right: 75px;
  margin-left: 75px;
  background-color: white;
  text-align: center;
}

h3 {
  padding-top: 60px;
}

/* forms */

div.create_topic {
  padding-top: 70px;
  padding-bottom: 30px;
  padding-left: 30px;
}

div.topic_index {
  background-color: white;
  padding-bottom: 30px;
  padding-left: 100px;
}

div.newmessage {
  padding-top: 100px;
}

div.message {
  padding-top: 40px;
}

div.newuser {
  padding-top: 50px;
  padding-left: 15px;
}

div.login {
  padding-top: 50px;
  padding-left: 15px;
}

/* libsyn player */

div.podcastplayer {
  padding-top: 60px;
  padding-bottom: 30px;
  padding-left: 30px;
}

/* footer */

footer {
  background-color: black;
  text-align: left;
  padding-top: 25px;
  padding-bottom: 200px;
  font-size: 1.3em;  
}