<h1>FAQ</h1>
<h2> Well, technically there aren't any frequently asked questions because no one talks to us. However, I will provide some general information about us in a Q&A format.</h2>

	<h3> What is Stone Flame Media?</h3>
	<h4> Right now, we are just a small media company creating podcasts on a weekly basis becaus it is fun to do.</h4>

	<h3> What is the theme of the Stone Flame Podcast?</h3>
	<h4> The Stone Flame Podcast has no theme or rhyme or reason. We show up every week, hang our with our friends, and there just so happen to be microphones around to capture it.</h4>

	<h3> Is Stone Flame Media friendly to all audiences?</h3>
	<h4> Absolutely not. We try to be equal opportunity offenders here at Stone Flame Media. No one is safe, not even us.</h4>
	